<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">
            jdbc:mysql://usxf67szmbai2qgk:Q4w3oXfizF4nr1EzJQZQ@btasyzqmovikwgcpryug-mysql.services.clever-cloud.com:3306/btasyzqmovikwgcpryug
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">usxf67szmbai2qgk</property>
        <property name="connection.password">Q4w3oXfizF4nr1EzJQZQ</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="core.basesyntax.model.Comment"/>
        <mapping class="core.basesyntax.model.Message"/>
        <mapping class="core.basesyntax.model.MessageDetails"/>
        <mapping class="core.basesyntax.model.Smile"/>
        <mapping class="core.basesyntax.model.User"/>
    </session-factory>
</hibernate-configuration>
