<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinema?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">qweasdzxc</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="core.basesyntax.model.Smile"/>
        <mapping class="core.basesyntax.model.Comment"/>
        <mapping class="core.basesyntax.model.User"/>
        <mapping class="core.basesyntax.model.Message"/>
        <mapping class="core.basesyntax.model.MessageDetails"/>
    </session-factory>
</hibernate-configuration>
